# --- [ MITM-Core Framework GitIgnore Template ] ---

# --- Python System Files ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Compiled Binaries & C Objects ---
# C kodunun çalışma anında ürettiği binary dosyaları
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
system_core_bin
sf_core_bin
sf_core
temp_core_*

# --- Operating System Specific ---
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

# --- Logs & Internal Data ---
# Hassas tarama sonuçları veya sistem logları repoya girmemeli
*.log
/var/log/sf_*.log
history.txt
scan_results/

# --- Temporary Files ---
*.bak
*.swp
*~
.tmp/
tempfile_*

# --- IDE & Editors ---
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
